default_stages:
- pre-commit
- pre-push
minimum_pre_commit_version: 2.7.1
ci:
  skip: [fmt, cargo-check, clippy, end-of-file-fixer]
  autofix_prs: true
  autoupdate_schedule: weekly
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: detect-private-key
  - id: check-byte-order-marker
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/pre-commit/pre-commit
  rev: v4.4.0
  hooks:
  - id: validate_manifest
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent=2]
- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: fmt
  - id: cargo-check
  - id: clippy
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies:
    - '@commitlint/config-conventional'
